<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Add tracker</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="row py-4  ">
		<div class="col-10 " >
			<h1 class="display-2">Hello, {{user.name}}</h1>
		</div>
		<div class="col " >
			<a href='/' type="button" class="btn btn-outline-dark">logout</a>
		</div>
	</div>
	<div class="row py-2">
		<div class="col">
			<h2>Add Tracker</h2>
		</div>
	</div>


<form action="/add_tracker/{{user.email}}" method="POST" id="create_tracker">
	<div class="row py-4 ">
		<div class="col-1">
			<p class="fs-6">Tracker type</p>
		</div>
		<div class="col-6">
			<select name="tracker_type" class="form-select" aria-label="Default select example" required>
  				<option selected>Open this select menu</option>
				{% for tracker in trackers %}
				<option value="{{tracker.tracker_id}}">{{tracker.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row py-4">
		<div class="col-1">
			<p class="fs-6">Name</p>
		</div>
		<div class="col">
			<div class="col-md-6">
    			<input class="form-control" name="tracker_name" type="text" placeholder="enter tracker name" aria-label="default input example" required>
  			</div>
		</div>
	</div>
	
	<div class="row py-4 ">
		<div class="col-6">
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</div>
</form>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>